.carrousel {
    width: 100%;
    margin: auto;
    max-width: 120em;
    padding: 2em;
    transition: all 0.4s ease;
    border-radius: 1em;
    overflow: hidden;
  }
  
  .carrousel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1em;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel .img {
    width: calc( 100%/2  );
    min-height: 10vh;
    transition: all 0.4s ease;
    border-radius: 1em;
    align-self: center;
    margin:1em;
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
   
  }
  
  .carrousel .punto {
    width: 1em;
    height: 1em;
    margin: 1em 1em 0;
    color: rgb(2, 31, 41);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: rgb(2, 31, 41);
    position: relative;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
   
  }
  
  .carrousel .punto.activo {
    background-color: rgb(12, 130, 237);
  }


  