
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,300;1,300&display=swap');

body {
    font-family: var(--font);
    background: var(--gradient);
    margin: 0;
  }

  h1 {
    font-size: 59px;
    line-height: 95px;
    font-weight: 700;
    margin: 1rem 0;
  }
  
  .h2 {
    display: block;
    font-size: 48px;
    line-height: 77px;
    text-decoration: none;
    color: #06a25f;  
  }

  .h3 {
    display: block;
    font-size: 48px;
    line-height: 77px;  
  }
  
  .u-wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
    padding: 0 1em;
  }


  .form {
    max-inline-size: 550px;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 2em;
  }

.form label {
    display: block;
    margin-block-start: 3em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }

  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #06a25f;
  }
  .form textarea {
    margin-block-end: 4em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }

  .contact {
    margin-block-end: 5em;
   
  }

  #trucazo {
    opacity: 0;
  }

  .btn {
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;
  }
  .btn.full {
    width: 100%;
  }
  
  .btn.primary {
    background: var(--primary);
  }

  .mapa {
    display: block;
    justify-content: space-betwepadding;
    padding-right: 4em;
    padding-left: 10em;
    padding-bottom: .5em;
    text-decoration: none;
    color: #06a25f;
  }

  .mapa_info {
 padding: 20px;
 font-size: 18px;
 color: white;
 margin-bottom: 25px;
 font-weight: 400;
 border-bottom: 2px solid #ffffff;
 display: inline-block;
 font-weight: bold;
  }

  .mapa_info ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #06a25f;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    text-align:start;
}

  .mapa_google {
    padding: 10px;
  }
  
  

  @media screen and (min-width: 768px) {
    .form  {
        display: block;
        text-align: center;
      }
    
    }